.header{
  background-color: whitesmoke;
  width: 100%;
}
.header img{
  width: 160px;
  height: 100px;
}
.gridCenter{
 display: grid;
 place-content: center;
 place-items: center;
 padding: 5rem;
}
.gridCenter img{
  width: 100px;
  height: 100px;
}
.gridCenter p{
  font-size: 20px;
  font-weight: 500;
}
