@import url('../../../../songcards.css');
@import url('../../../../songtrack.css');
.first{
  margin-top: 2%;
}
.titlehead{
  display: flex;
  justify-content: space-around;
}
.titlehead a{
  padding: 10px;
  font-size: 0.80cm;
  color: #000;
  font-family: 'Space Grotesk', sans-serif;
  text-decoration: none;
  cursor: pointer;
}
.titlehead a:hover{
  border-bottom: 2px solid #00ff00;
}
.titlehead .active{
  border-bottom: 2px solid #00ff00;
}
.fa-heart{
  font-size: 0.75cm;
}
.sectionFlexContainer{
  min-height: 100vh;
  width: auto;
  background: linear-gradient(-75deg, rgb(0,255,0),58%, rgb(174, 243, 169));
  display: grid;
  grid-template-columns: repeat(2,1fr);
  place-items: center;
}
.sectionFlexContainer .displayingContent p{
  font-size: 1.5cm;
  font-weight: 900;
  letter-spacing: 5px;
  line-height: 6rem;
}
.dulcetSongCards{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dulcetSongCards h2{
  font-size: 3rem;
  padding: 3rem;
}
.featuredDulcet h3{
  display: flex;
  justify-content: center;
  padding: 0.75rem;
  font-size: 1cm;
  color: #000;
  font-weight: 700;
}
.sectionGridContainer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  padding: 1rem;
}
.sectionGridContainer .sectionGridBox{
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 370px;
  width: 370px; */
  display: grid;
  place-items: center;
}
.sectionGridContainer .sectionGridBox .fontAwesomeUserCSS{
  height: 150px;
  width: 150px;
  background-color: #000;
  border-radius: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sectionGridContainer .sectionGridBox .fontAwesomeUserCSS img{
  width: 100px;
  height: 100px;
}
/* .sectionGridContainer .sectionGridBox:hover{
  box-shadow: 0px 5px 20px 4px rgba(22, 22, 22, 0.874);
} */
.sectionGridContainer .sectionGridBox .head{
  display: flex;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
}
.sectionGridContainer .sectionGridBox p{
  font-size: 20px;
}
.sectionGridContainer .serviceProviding{
  height: auto;
  width: 20vw;
  background-color: #00ff00;
}
/** Bottom Song track Heart color changing starts **/
.liked {
  color: #00ff00;
}
.untouched {
  color: blanchedalmond;
}
/** Bottom Song track Heart color changing ends**/
@media only screen and (max-width:640px){
.titlehead a{
  font-size: 0.6cm;
}
.dulcetSongCards h2{
  font-size: 1.5rem;
}
.cards{
  justify-content: center;
}
.sectionFlexContainer{
  margin-top: -2%;
  min-height: auto;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.sectionFlexContainer .displayingImage img{
  width: 100px;
  height: 150px;
}
.sectionFlexContainer .displayingContent p{
  font-size: 24px;
  letter-spacing: 2px;
  line-height: 30px;
}
.sectionGridContainer{
  grid-template-columns: repeat(1, 1fr);
}
.featuredDulcet h3{
  font-size: 0.75cm;
}
.sectionGridContainer{
  gap: 10px;
}
.sectionGridContainer .sectionGridBox{
  height: 270px;
  width: 270px;
  padding: 5px;
}
.sectionGridContainer .sectionGridBox .fontAwesomeUserCSS{
  height: 100px;
  width: 100px;
}
.sectionGridContainer .sectionGridBox .fontAwesomeUserCSS img{
  width: 50px;
  height: 50px;
}
.sectionGridContainer .sectionGridBox .head{
  font-size: 22px;
}
.sectionGridContainer .sectionGridBox p{
  font-size: 16px;
}
}
