<app-nav-bar></app-nav-bar>

<div class="card-container first">
  <div class="titlehead">
    <a routerLink="topsongs" routerLinkActive="active">Top Songs</a>
    <a routerLink="mixedsongs" routerLinkActive="active">Discovered for you</a>
  </div>
</div>
<div>
  <hr>
</div>
<div class="sectionFlexContainer">
 <div class="displayingImage">
  <img src="/assets/brand-images/Dulcet Landing page.png" title="Dulcet Mobile Landing Page" alt="Landing Page">
 </div>
 <div class="displayingContent">
  <p>Play the songs as you wish in our DULCET</p>
 </div>
</div>

<div class="dulcetSongCards">
  <div>
    <h2>Some of the peculiar songs we have</h2>
  </div>
  <div class="cards">
    <div *ngFor="let songs of songsAssets">
      <div class="card">
        <img  class="image" src="{{songs['images']}}" alt="{{songs['movie_name']}}">
        <i class="fa fa-play" id="playicon" (click)="loadAudio(songs)"></i>
        <small class="maintitle">{{songs['movie_name']}}</small>
        <small class="subtitle">{{songs['song_name']}}</small>
      </div>
    </div>
    </div>
</div>

<div class="featuredDulcet"><h3>Why Dulcet?</h3></div>


<div class="sectionGridContainer">
  <div class="sectionGridBox">
    <i class="fontAwesomeUserCSS"><img src="/assets/home-images/play-button.png" title="play"></i>
    <p class="head">Play your songs</p>
    <p>Listen to the songs you love, and discover new music</p>
  </div>
  <div class="sectionGridBox">
   <i class="fontAwesomeUserCSS"> <img src="/assets/home-images/vinyl.png" title="vinyl"> </i>
    <p class="head">Playlists made easier to connect</p>
    <p>We'll help you make playlists and enjoy that</p>
  </div>
  <div class="sectionGridBox">
    <i class="fontAwesomeUserCSS"> <img src="/assets/home-images/heart.png" title="heart"> </i>
    <p class="head">Make favourites as your wish</p>
    <p>Tell us what you like, and we'll recommend music for you.</p>
  </div>
</div>

<app-footer></app-footer>
