<!-- <app-nav-bar></app-nav-bar> -->

<div class="register_system">
<!-- <div class="marqueeBox-1">
  <marquee behavior="alternate" direction="up" scrolldelay="20" height="150px"><i class="fa-solid fa-music"></i></marquee>
  <marquee behavior="alternate" direction="down" scrolldelay="20" height="250px"><i class="fa-solid fa-music"></i></marquee>
  <marquee behavior="alternate" direction="left" scrollamount="30" width="1200px"><i class="fa-solid fa-music"></i></marquee>
  <marquee behavior="alternate" direction="right" scrollamount="30" width="1200px"><i class="fa-solid fa-music"></i></marquee>
</div>
<div class="marqueeBox-2">
  <marquee behavior="alternate" direction="up" scrolldelay="20" height="150px"><i class="fa-solid fa-music"></i></marquee>
  <marquee behavior="alternate" direction="down" scrolldelay="20" height="250px"><i class="fa-solid fa-music"></i></marquee>
</div> -->

  <form class="register_form" [formGroup]="registerForm" (submit)="submitRegisterForm()">
    <i class="fa-solid fa-circle-xmark" (click)="closeRegisterForm()"></i>
    <h2 id="h2">Create your account</h2>

    <i class="fa-solid fa-user icon"></i>
    <input type="text" class="name" placeholder="Enter your name" formControlName="regname">
    <small class="small" *ngIf="registerForm.controls['regname'].errors?.['required'] && registerForm.controls['regname'].dirty">* Name is required</small>
    <small class="small" *ngIf="registerForm.controls['regname'].errors?.['pattern']">* Please provide a proper Name</small>

    <i class="fa-solid fa-envelope icon"></i>
    <input type="text" class="email" placeholder="Enter your email" formControlName="regemail">
    <small class="small" *ngIf="registerForm.controls['regemail'].errors?.['required'] && registerForm.controls['regemail'].dirty">* Email is required</small>
    <small class="small" *ngIf="registerForm.controls['regemail'].errors?.['pattern']">* Please provide proper Email</small>

    <i class="fa-solid fa-key icon"></i>
    <input type="password" class="password" placeholder="Enter your password" formControlName="regpassword"  #registerpasswordfield >
    <i (click)="registerpasswordfield.type=registerpasswordfield.type=='password'?'text':'password'" class="fa-solid fa-eye-slash regicon1"  [ngClass]="(registerpasswordfield.type=='password')?' fa-eye-slash':' fa-eye'"></i>
    <small class="small" *ngIf="registerForm.controls['regpassword'].errors?.['required'] && registerForm.controls['regpassword'].dirty">* Password is required</small>
    <small class="small" *ngIf="registerForm.controls['regpassword'].errors?.['pattern']">* Provided password is not strong</small>

    <i class="fa-solid fa-key icon"></i>
    <input type="password" class="confirmpassword" placeholder="Re-type the password" formControlName="regconfirmpassword" #registerconfirmpasswordfield>
    <i (click)="registerconfirmpasswordfield.type=registerconfirmpasswordfield.type=='password'?'text':'password'" class="fa-solid fa-eye-slash regicon2" [ngClass]="(registerconfirmpasswordfield.type=='password')?' fa-eye-slash':' fa-eye'"></i>
    <small class="small" *ngIf="registerForm.controls['regconfirmpassword'].errors?.['required'] && registerForm.controls['regconfirmpassword'].dirty">* Password is required</small>

    <div class="actionButtons">
      <div class="resetIcon">
        <i class="fa-solid fa-arrow-rotate-right icon" (click)="registerReset()"></i>
        <span>&nbsp;&nbsp;Reset</span>
      </div>
      <button [disabled]="!registerForm.valid">Submit</button>
    </div>

    <span>Already&nbsp;an&nbsp;User&nbsp;?&nbsp;Click&nbsp;<a class="registers" routerLink="/signin">Login</a></span>
   </form>
  </div>
