.background {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  background-color: rgb(179, 245, 245);
  /* background: linear-gradient(lime, rgb(23, 222, 225)); */
}

.fa-solid {
  font-size: 0.6cm;
  cursor: pointer;
}
.accounts_container {
  display: grid;
  grid-template-rows: repeat(2);
  place-items: center;
  /* background-color: antiquewhite; */
}
.accounts_left {
  background-color: #282828;
  color: #7f7f7f;
  display: flex;
  border-right: 1px solid #7f7f7f;
  width: auto;
}
.accounts_left img {
  height: 80px;
  width: 80px;
}
.accounts_left a {
  color: #7f7f7f;
  border-bottom: 1px solid #7f7f7f;
  padding: 1rem;
  font-size: 0.6cm;
  text-decoration: none;
}
.accounts_left i {
  font-size: 0.5cm;
  padding: 15px;
}
.accounts_left a:hover {
  border-bottom: 6px solid lime;
  color: white;
  cursor: pointer;
}
.accounts_left a .active {
  border-left: 6px solid lime;
  color: #fff;
  text-decoration: none;
}
.accounts_right {
  background-color: #fff;
  color: #7f7f7f;
  display: flex;
  flex-direction: column;
  width: 54.5vw;
  height: 58vh;
  padding: 1rem;
}
