.search-container .searchBar{
  width: 60%;
  padding: 10px 20px;
  border: 3px solid black;
  border-radius: 30px;
  margin-top: 30px;
}
.search-container .searchBar input{
  width: 60%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  transition: width 0.4s ease-in-out;
  border: 0;
  outline: 0;
}
.result-box ul{
  width: 200px;
}
.result-box ul li{
  list-style: none;
  font-size: 20px;
  padding: 15px 10px;
}
.result-box ul li:hover{
  color: #999;
}
.result-box ul li:first-child:hover{
  background: #fff;
  cursor: default;
}
.search-container span{
  color: #000;
  font-size: 0.8cm;
  font-weight: 800;
  padding: 10px;
}
.search-container div div .box{
  display: grid;
  place-items: center;
  width: 250px;
  height: 250px;
  color: white;
  border-radius: 20px;
  text-decoration: none;
  cursor: pointer;
}
.search-container div div{
  opacity: 1;
}
.search-container div div .box p{
  font-size: 1cm;
  font-weight: 500;
}
.search-container div div .box .scaledImage{
  height: 150px;
  width: 150px;
  box-shadow: #000 0px 0px 13px;
  /* transform: rotate(45deg); */
  transform: rotate(20deg) translate(37%,-2%);
}
.search-container .searchBox{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 6rem;
  margin-bottom: 70px;
}
@media only screen and (max-width:640px){
  .search-container .searchBox{
    place-items: center;
    grid-template-columns: repeat(1,1fr);
  }
}
