<div class="paymentHeader">
  <div class="userDetails">
    <a routerLink="">
      <img src="/assets/brand-images/whiteBGBrandLogo.png" alt="brandLogo"/>
    </a>
    <!-- <p>Welcome ! {{ name }}</p> -->
     <div>
      <div class="profileIcons" (click)="toggleProfile()">
        <i class="fa-solid fa-circle-user"></i>
        <i><p>Profile</p></i>
        <i class="fa-solid fa-chevron-down"></i>
      </div>
      <ul class="anchorLinks" *ngIf="profileDropdownDivBoolean">
        <li><a routerLink="">Account</a></li>
        <li><a routerLink="">Logout</a></li>
      </ul>
     </div>
  </div>
  <!-- <hr style="color: white;"> -->
  <div class="gridPremiumPlanCard">
    <div class="planDetails">
      <p>Your plan</p>
      <a routerLink="/premium">Review plan</a>
    </div>
    <div class="premiumPlanCard">
      <div class="gridColumnCenterBG">
        <div>
          <p class="bold">Premium</p>
          <p class="normal">Plan : {{ planTitle }}</p>
        </div>
        <div>
          <p class="bolder">Free</p>
          <p class="normal">For 1 month</p>
        </div>
      </div>
      <div class="gridColumnCenter">
        <p class="normal">Start Free month</p>
        <p class="bold">Today</p>
      </div>
      <div class="gridColumnCenter">
        <p class="normal">Start billing date</p>
        <p class="bold">{{ today }}</p>
      </div>
      <ul>
        <li>{{ planOffer }}</li>
        <li>You won't be charged until {{ today }}</li>
        <li>We will remind you 7 days before your plan get expired</li>
      </ul>
    </div>
  </div>
</div>

<div class="paymentContainer">
  <div class="addressPaymentContainer">
    <div class="addressBox">
      <span>Address</span>
      <p>
        <a (click)="notifyAddressInfo()">Learn more</a>&nbsp;about why we need
        this information.
      </p>
      <span>State</span>
      <select name="state" title="select">
        <option selected disabled>Choose your State</option>
        <option
          *ngFor="let states of newStateArray"
          value="{{ states }}"
          (click)="userState($event)"
        >
          {{ states }}
        </option>
      </select>
    </div>
    <div class="paymentBox">
      <p>Choose a payment method</p>
      <div class="paymentMethod">
        <div class="flexContent">
          <div
            class="checkbox"
            id="checkboxUPI"
            (click)="upiDivToggleOpen()"
          ></div>
          <span>UPI</span>
        </div>
        <div class="flexImage">
          <img
            src="https://paymentsdk.spotifycdn.com/svg/providers/upi/google-pay.svg"
            alt="google-pay"
            title="GooglePay"
          />
          <img
            src="https://paymentsdk.spotifycdn.com/svg/providers/upi/paytm.svg"
            alt="paytm"
            title="PayTM"
          />
          <img
            src="https://paymentsdk.spotifycdn.com/svg/providers/upi/amazon-pay.svg"
            alt="amazon-pay"
            title="AmazonPay"
          />
          <img
            src="https://paymentsdk.spotifycdn.com/svg/providers/upi/bhim.svg"
            alt="bhim"
            title="BHIM"
          />
        </div>
        <div class="upiID" *ngIf="upiDivBoolean">
          <span>UPI Method</span>
          <select name="paymentMethod" title="select">
            <option selected disabled>Choose any UPI Gateway</option>
            <option value="googlepay">Google Pay</option>
            <option value="paytm">PayTM</option>
            <option value="amazonpay">Amazon Pay</option>
            <option value="bhim">BHIM</option>
          </select>

          <span>UPI ID</span>
          <input type="text" placeholder="user@upihandle" />
          <p>
            If you don't cancel your subscription before the trial ends on
            {{ today }}, you agree that you are making the payment directly with
            your entered UPI ID.
            <b style="color: red"
              >It will redirect you to the selected UPI Gateway.</b
            >
          </p>
          <button>Pay&nbsp;{{ price }}</button>
        </div>
      </div>
      <div class="paymentMethod">
        <div class="flexContent">
          <div
            class="checkbox"
            id="checkboxCard"
            (click)="cardDivToggleOpen()"
          ></div>
          <span>Credit or debit card</span>
        </div>
        <div class="flexImage">
          <img
            src="https://paymentsdk.spotifycdn.com/svg/cards/visa.svg"
            alt="visa"
            title="VISA"
          />
          <img
            src="https://paymentsdk.spotifycdn.com/svg/cards/mastercard.svg"
            alt="mastercard"
            title="MasterCard"
          />
          <!-- <img src="https://paymentsdk.spotifycdn.com/svg/cards/amex.svg">
            <img src="https://paymentsdk.spotifycdn.com/svg/cards/diners.svg"> -->
        </div>
        <div class="cardPaymentMethod" *ngIf="cardDivBoolean">
          <form [formGroup]="cardValidationForm">
            <div class="flexSpacearound">
              <p>Payment details</p>
              <i class="fa-solid fa-lock"></i>
            </div>
            <div class="cardHolder">
              <p>Card Holder Name</p>
              <input
                type="text"
                id="cardHolderName"
                placeholder="Enter your name"
                formControlName="cardHolderName"
                (keyup)="changeCardHolderName($event)"
              />
              <small
                *ngIf="cardValidationForm.controls['cardHolderName'].errors?.['required']"
                >* Name is Required</small
              >
              <small
                *ngIf="cardValidationForm.controls['cardHolderName'].errors?.['pattern']"
              ></small>
            </div>
            <div class="cardNumber">
              <p>Card Number</p>
              <div class="cardNumberInput">
                <img
                  src="{{ cardImage }}"
                  alt="cardShowcase"
                  title="showcaseUserCard"
                />
                <input
                  type="text"
                  placeholder="0000 0000 0000"
                  maxlength="16"
                  size="16"
                  (keyup)="checkCardValid($event)"
                  id="cardNumber"
                  formControlName="cardNumber"
                />
              </div>
              <small
                [style.color]="cardMessageColor"
                style="font-size: 12px; font-weight: bold"
                >{{ cardNumberMessage }}
              </small>
            </div>
            <div class="flexSpacearound">
              <div>
                <p>Expiry Date</p>
                <input
                  type="text"
                  placeholder="M M / Y Y"
                  size="10"
                  maxlength="5"
                  (keyup)="expiryCardCheck($event)"
                  formControlName="expiryDate"
                />
              </div>
              <div>
                <p>CVV</p>
                <input type="text" placeholder="****" size="10" maxlength="4" />
              </div>
            </div>
            <small
              [style.color]="expiryDateMessageColor"
              style="font-size: 12px; font-weight: bold"
              >{{ expiryDateMessage }}
            </small>
            <div class="cardButton">
              <button (click)="checkPaymentValid()">
                Pay&nbsp;{{ price }}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
