<!-- <app-nav-bar></app-nav-bar> -->

<div class="forgotsystem">
  <form class="forgotform" [formGroup]="forgotnewpassForm" (ngSubmit)="submitForgotnewPassForm()">
    <i class="fa-solid fa-circle-xmark fa-flip" (click)="closeForgotnewPassForm()"></i>
    <h2 id="h2">Dulcet Recover Password</h2>
    <!-- <small class="smalltext">To recover your Password 1st fill your Name and Email</small> -->

    <i class="fa-solid fa-key icon"></i>
    <input type="text" class="name" placeholder="Enter your password" formControlName="forgotpassword" #forgotpassword>
    <small class="small" *ngIf="forgotnewpassForm.controls['forgotpassword'].errors?.['required'] && forgotnewpassForm.controls['forgotpassword'].dirty">* Password is required</small>
    <small class="small" *ngIf="forgotnewpassForm.controls['forgotpassword'].errors?.['pattern']">* Please provide a strong Password</small>

    <i class="fa-solid fa-key icon"></i>
    <input type="text" class="email" placeholder="Enter above password" formControlName="reforgotpassword" #reforgotpassword>
    <small class="small" *ngIf="forgotnewpassForm.controls['reforgotpassword'].errors?.['required'] && forgotnewpassForm.controls['reforgotpassword'].dirty">* Password is required</small>
    <small class="small" *ngIf="forgotnewpassForm.controls['reforgotpassword'].errors?.['pattern']">* Please provide a strong Password</small>

    <i class="fa-solid fa-arrow-rotate-right" (click)="forgotReset()">&nbsp;&nbsp;Reset</i>

    <button [disabled]="!forgotnewpassForm.valid">Submit</button>

  </form>
</div>

