@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');
@import url('/src/songtrack.css');
.songs_container{
  width: auto;
  height: 80px;
  background-color: #131315;
  display: grid;
  grid-template-columns: repeat(6,1fr);
  gap: 1rem;
  padding: 1rem;
}
.songs_container button{
  font-size: 20px;
  background-color: #131315;
  color: white;
  border: 2px solid white;
  border-radius: 40px;
  height: 40px;
  width: 70px;
}
.songs_container .fa-heart{
  font-size: 20px;
}
.songs-container{
  background-color: #131315;
  gap: 2rem;
}
.songs-container .songsContainerHead{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  place-items: center;
  gap: 1rem;
  padding: 1rem;
}
.songs-container .headTitle{
  color: white;
  font-size: 0.5cm;
  font-weight: 800;
}
.songs_container .flexContainer{
  display: flex;
  flex-direction: column;
}
.songs_container .gridPlaylistDivtitle,.songs_container .duration{
  color: #fff;
  font-size: 0.55cm;
  font-weight: 500;
}
.songs_container img{
  width: 45px;
  height: 40px;
}
.songs_container:hover{
  background-color: #3f3f42;
  cursor: pointer;
}
.navbar{
  position: relative;
  display: inline-block;
}

.profile_container{
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #000;
  color: #fff;
  padding: 15px;
  border-radius: 30px;
  cursor: pointer;
  z-index: -2;
}
.dropdowns{
  position: relative;
  display: inline-block;
}
.dropdowns-items{
  display: none;
  position: absolute;
}
.dropdowns-items a{
  padding: 10px;
  display: block;
}
.dropdowns:hover .dropdowns-items{
  width: 200px;
  left: 20px;
  top: 15px;
  display: inline-block;
  background-color: #181515;
  color: #fff;
  font-size: 0.4cm;
  font-weight: 400;
}
.dropdowns-items a:hover{
  text-decoration: underline;
}
 .menu{
  display: flex;
  opacity: 0.7;
  flex-direction: column;
}
 .menu a{
  color: #000;
  background-color: rgba(31, 29, 29,0.2);
  font-size: 0.5cm;
  padding: 0.7rem;
  text-decoration: none;
}
 .menu a:hover{
  text-decoration: underline;
  cursor: pointer;
}
 .menu:hover{
  opacity: 1;
}
 .menu i{
  font-size: 0.4cm;
}
.firstcontent {
  margin-left: 40%;
}
.firstcontent img{
  height: 75%;
  width: 40%;
}
.firstcontent .user_name{
  color: rgb(46, 230, 144);
  font-size: 1.5cm;
}

.liked {
  color: #00ff00;
}
.untouched {
  color: rgb(92, 91, 90);
}
.playlistHead{
  display: grid;
  place-items: center;
  padding: 1.75rem;
}
.playlist-container .playlistHead span{
  font-size: 30px;
  font-weight: 500;
  color: black;
}
.playlist-container .flexPlaylistHeads{
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}
.playlist-container .flexPlaylistHeads .active{
  padding-bottom: 6px;
  border-bottom: 3px solid #00ff00;
}
.playlist-container .flexPlaylistHeads a{
  font-size: 22px;
  font-weight: 500;
  color: black;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid #999;
  border-radius: 30px;
  padding: 10px 20px;
}
.playlistDiv{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.playlistDiv a{
  font-size: 22px;
  font-weight: 500;
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.playlist-container .singlePlaylist{
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}
.card{
  display: grid;
  place-items: center;
  background-color: #000;
  margin-left: 3%;
  margin-top: 2%;
  padding: 1rem;
  font-family: 'Space Grotesk', sans-serif;
  position: relative;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
  /* box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35); */
}
.card .image{
  height: 175px;
  width: 150px;
}
.card .maintitle{
  color: #fff;
  font-size: 0.45cm;
  padding: 8px;
}
.card .subtitle{
  color: #fff;
  font-size: 0.35cm;
  padding: 5px;
}
.card #playicon{
  position: absolute;
  background-color: lime;
  left: 108px;
  top: 130px;
  padding: 1rem;
  border-radius: 30px;
  opacity: 0;
  border: none;
  transition: 800ms ease;
}
.card:hover{
  cursor: pointer;
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}
.card:hover .maintitle, .card:hover .subtitle{
  opacity: 0.75;
}
.card:hover .image{
  opacity: 1;
}
.card:hover #playicon{
  opacity: 1;
  box-shadow: 2px 3px 0px 1px rgb(76, 75, 75);
  transition: 800ms ease;
}
.slidePlaylistDIV{
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  overflow-x: auto;
  background-color: #121212;
  width: 50%;
  height: 100%;
}
.top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slidePlaylistDIV .top .heading{
  text-align: center;
  background-color: #121212;
  color: white;
  font-size: 0.75cm;
  font-weight: 600;
  padding-bottom: 14px;
}
.slidePlaylistDIV .top .close{
  display: flex;
  font-size: 1cm;
  color: #fefefe;
  background-color: #121212;
  cursor: pointer;
}
.slidePlaylistDIV .top .changeplaylistname button{
  cursor: pointer;
  background-color: #121212;
  border: 1px solid #fefefe;
  outline: none;
  color: #fefefe;
  padding: 10px;
  font-size: 0.4cm;
  border-radius: 20px;
}
.slidePlaylistDIV .gridPlaylistDiv div p{
  font-size: 15px;
  font-weight: 200;
  color: #b3b3b3;
}
.slidePlaylistDIV .horizontalLine{
  background-color: #7e7e7e;;
  height: 3px;
  width: auto;
}
.slidePlaylistDIV .gridPlaylistDiv{
 width: auto;
 display: grid;
 place-items: center;
 grid-template-columns: repeat(4, 2fr);
 background-color: #121212;
 color: #ffffff;
 gap: 1rem;
}
.slidePlaylistDIV .gridPlaylistDiv .gridColumns img{
  width: 45px;
  height: 40px;
}
.slidePlaylistDIV .gridPlaylistDiv .gridColumns{
 display: grid;
 grid-template-columns: repeat(2, 2fr);
 gap: 0.5rem;
}
.slidePlaylistDIV .gridPlaylistDiv .gridColumnsCenter{
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 0.5rem;
  place-items: center;
}
.slidePlaylistDIV .gridPlaylistDiv .gridColumnsCenter .add{
  cursor: pointer;
}
.slidePlaylistDIV .gridPlaylistDiv .gridColumnsCenter .added{
  background: #00ff00;
  color: #000;
  cursor: pointer;
}
.slidePlaylistDIV .gridPlaylistDiv .gridColumns .maintitle{
  line-height: 25px;
}
.slidePlaylistDIV .gridPlaylistDiv div button{
  font-size: 12px;
  background-color: inherit;
  color: white;
  border: 2px solid white;
  border-radius: 40px;
  height: 30px;
  width: 60px;
}
.slidePlaylistDIV .gridPlaylistDiv div button:hover{
  scale: 1.10;
  color: #b3b3b3;
  border: 2px solid #b3b3b3;
}
.slidePlaylistDIV .gridPlaylistDiv:hover{
  cursor: pointer;
  background-color: #2b2b2b;
  color: #b3b3b3;
}

.playlist-container .flexPlaylistHeads a:hover, .playlistDiv a:hover{
  padding-bottom: 6px;
  border-bottom: 3px solid #00ff00;
}
.playlist-container .flexPlaylistHeads .fa-solid{
  background-color: lime;
  color: #121212;
  padding: 1.4rem;
  border-radius: 30px;
  opacity: 0.75;
  border: none;
  font-size: 0.5cm;
  transition: 800ms ease;
}
.playlist-container .flexPlaylistHeads .fa-solid:hover{
  opacity: 1;
  box-shadow: 2px 3px 0px 1px rgb(76, 75, 75);
  transition: 800ms ease;
  cursor: pointer;
}
.playlist-container .flexPlaylistHeads p{
  font-size: 0.5cm;
  font-weight: 400;
}
