<app-nav-bar></app-nav-bar>

<div class="playlist-container">
  <div class="playlistHead"><span>Playlists Dulcet offers you</span></div>
  <hr>
  <div class="flexPlaylistHeads">
    <a (click)="openLEOPlaylist()">LEO</a>
    <a (click)="openVikramPlaylist()">Vikram - II</a>
    <a (click)="openPlaylist()">Playlists</a>
  </div>

  <hr>

  <div class="flexPlaylistHeads" *ngIf="openLEODiv">
    <div>
      <i class="fa-solid fa-shuffle" (click)="shufflePlaylist()"></i><br>
      <p>Shuffle</p>
    </div>
    <div>
      <i class="fa-solid fa-shuffle" (click)="unShufflePlaylist()"></i><br>
      <p>Un-shuffle</p>
    </div>
  </div>

  <div class="flexPlaylistHeads" *ngIf="openVikramIIDiv">
    <div>
      <i class="fa-solid fa-shuffle" (click)="shufflePlaylist()"></i><br>
      <p>Shuffle</p>
    </div>
    <div>
      <i class="fa-solid fa-shuffle" (click)="unShufflePlaylist()"></i><br>
      <p>Un-shuffle</p>
    </div>
  </div>

  <div class="flexPlaylistHeads" *ngIf="userPlaylist">
    <div>
      <i class="fa-solid fa-shuffle" (click)="shufflePlaylist()"></i><br>
      <p>Shuffle</p>
    </div>
    <div>
      <i class="fa-solid fa-shuffle" (click)="unShufflePlaylist()"></i><br>
      <p>Un-shuffle</p>
    </div>
  </div>

  <div class="singlePlaylist" *ngIf="openLEODiv">
    <div *ngFor="let songs of leoSongsAssets">
      <div class="card">
        <img  class="image" src="{{songs['images']}}" alt="{{songs['movie_name']}}">
        <i class="fa fa-play" id="playicon" (click)="loadAudio(songs)"></i>
        <small class="maintitle">{{songs['movie_name']}}</small>
        <small class="subtitle">{{songs['song_name']}}</small>
      </div>
    </div>
  </div>

  <div class="singlePlaylist" *ngIf="openVikramIIDiv">
    <div *ngFor="let songs of vikramSongsAssets">
      <div class="card">
        <img  class="image" src="{{songs['images']}}" alt="{{songs['movie_name']}}">
        <i class="fa fa-play" id="playicon" (click)="loadAudio(songs)"></i>
        <small class="maintitle">{{songs['movie_name']}}</small>
        <small class="subtitle">{{songs['song_name']}}</small>
      </div>
    </div>
  </div>

  <div class="singlePlaylist" *ngIf="userPlaylist">
    <div *ngFor="let songs of usersPlaylist">
      <div class="card">
        <img  class="image" src="{{songs.images}}" alt="{{songs.movie_name}}">
        <i class="fa fa-play" id="playicon" (click)="loadAudio(songs)"></i>
        <small class="maintitle">{{songs.movie_name}}</small>
        <small class="subtitle">{{songs.song_name}}</small>
      </div>
    </div>
  </div>
</div>

<div *ngIf="openPlaylistDiv" class="playlistDiv">
  <a (click)="createPlaylist()">Create a new playlist</a>
  <a (click)="createAnotherPlaylist()">Create another playlist</a>
  <a (click)="openUserPlaylist()">Open My Playlist</a>
</div>

<div class="slidePlaylistDIV" *ngIf="openNewPlaylist">
  <div class="close" (click)="closePlaylist()">&nbsp;&nbsp;&times;</div>
  <p class="heading">About to create a new playlist like #myPlaylist_1</p>
  <div class="gridPlaylistDiv">
    <div><p>#</p></div>
    <div><p>Title</p></div>
    <div><p>Time</p></div>
    <div><p>Action</p></div>
  </div>
  <div class="horizontalLine"></div>
  <div class="gridPlaylistDiv"  *ngFor="let source of allPlaylistSongs; let i = index;">
   <div>
    <span class="number">{{i+1}}</span>
   </div>
   <div class="gridColumns">
    <img src="{{source.images}}" alt="">
    <span class="maintitle">{{source.song_name}}</span>
   </div>
   <div id="">{{source.duration}}</div>
   <div class="gridColumnsCenter">
    <button (click)="addSongsToPlaylist(source)">Add</button>
    <i class="fa-solid fa-heart" (click)="addToFavouritesSongs(source)" ngClass="{'liked' : !toggled, 'untouched': toggled}"></i>
  </div>
  </div>
</div>

<div class="slidePlaylistDIV" *ngIf="openAnotherPlaylist">
  <div class="close" (click)="closeAnotherPlaylist()">&nbsp;&nbsp;&times;</div>
  <p class="heading">About to create a another playlist like #myPlaylist_2</p>
  <div class="gridPlaylistDiv">
    <div><p>#</p></div>
    <div><p>Title</p></div>
    <div><p>Time</p></div>
    <div><p>Action</p></div>
  </div>
  <div class="horizontalLine"></div>
  <div class="gridPlaylistDiv"  *ngFor="let source of allPlaylistSongs; let i = index;">
   <div>
    <span class="number">{{i+1}}</span>
   </div>
   <div class="gridColumns">
    <img src="{{source.images}}" alt="">
    <span class="maintitle">{{source.song_name}}</span>
   </div>
   <div id="">{{source.duration}}</div>
   <div class="gridColumnsCenter">
    <button (click)="addSongsToPlaylist(source)">Add</button>
    <i class="fa-solid fa-heart" (click)="addToFavouritesSongs(source)" ngClass="{'liked' : !toggled, 'untouched': toggled}"></i>
  </div>
  </div>
</div>


<div *ngIf="openSongTracker">
  <div class="master_play" >
    <div class="box1">
      <div class="notwave" id="masterplay">
        <div class="wave1"></div>
        <div class="wave1"></div>
        <div class="wave1"></div>
      </div>
      <div>
        <img src="{{imagepath}}" alt="" id="poster_master_play">
      </div>
      <div class="flexs">
        <p class="title">{{maintitle}}</p>
        <p class="subtitle">{{subtitle}}</p>
      </div>
      <i class="fa-solid fa-heart" (click)="addToLike()"  ngClass="{'liked' : !toggled, 'untouched': toggled}"></i>
    </div>
    <div class="box2">
      <div class="icon">
        <button (click)="playSong()" id="previous"><i class="bi bi-play-fill" id="masterPlay"></i></button>
        <button (click)="pauseSong()" id="previous"><i class="bi bi-pause-fill" id="masterPlay"></i></button>
        <button (click)="previousSong()" id="play"><i class=" bi bi-skip-start-fill"  id="masterPlay"></i></button>
        <button (click)="nextSong()" id="next"><i class="bi bi-skip-end-fill" id="next"></i></button>
      </div>
      <div class="box1">
        <div id="currentStart">0:00</div>
        <div class="bar">
            <input type="range" id="seek" min="0" value="0" max="100" style="color: white;">
            <div class="bar2" id="bar2"></div>
            <div class="dot"></div>
        </div>
        <div id="currentEnd"></div>
      </div>
  </div>

  <div class="vol">
      <i class="bi bi-volume-down-fill" id="vol_icon"></i>
      <input type="range" id="vol" min="0" value="30" max="100">
      <div class="vol_bar"></div>
      <div class="dot" id="vol_dot"></div>
  </div>
  </div>
</div>

<!-- <div *ngFor="let source of allPlaylistSongs; let i = index;">
  <div class="songs_container">
    <span class="number">{{i+1}}</span>
    <img src="{{source.images}}" alt="">
    <div class="flexContainer">
      <span class="maintitle">{{source.movie_name}}</span>
      <span class="maintitle">{{source.song_name}}</span>
    </div>
    <i class="fa-solid fa-heart" (click)="addToFavouritesSongs(source)" [ngClass]="{'liked' : !toggle, 'untouched': toggle}"></i>
    <button>Add</button>
</div>
</div> -->

<!-- <div class="songs-container" *ngIf="openNewPlaylist">
  <div class="songsContainerHead">
    <div class="headTitle">#</div>
    <div class="headTitle">Image</div>
    <div class="headTitle">Title</div>
    <div class="headTitle">Song</div>
  </div>

  <div class="horizontalLine"></div>

  <div *ngFor="let source of allPlaylistSongs">
    <div class="songs_container">
      <span class="number">{{source.id}}</span>
      <img src="{{source.images}}" alt="">
      <div class="flexContainer">
        <span class="maintitle">{{source.movie_name}}</span>
        <span class="maintitle">{{source.song_name}}</span>
      </div>
      <i class="fa-solid fa-heart" (click)="addToFavouritesSongs(source)" [ngClass]="{'liked' : !toggle, 'untouched': toggle}"></i>
      <button>Add</button>
  </div>
</div>
</div> -->

