@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');
.songs_container{
  width: auto;
  height: 80px;
  background-color: #131315;
  display: grid;
  grid-template-columns: repeat(6,1fr);
  gap: 1rem;
  padding: 1rem;
}
.songs_container button{
  font-size: 20px;
  background-color: #131315;
  color: white;
  border: 2px solid white;
  border-radius: 40px;
  height: 40px;
  width: 70px;
}
.songs_container .fa-heart{
  font-size: 20px;
}
.songs-container{
  background-color: #131315;
  gap: 2rem;
}
.songs-container .songsContainerHead{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  place-items: center;
  gap: 1rem;
  padding: 1rem;
}
.songs-container .headTitle{
  color: white;
  font-size: 0.5cm;
  font-weight: 800;
}
.songs_container .flexContainer{
  display: flex;
  flex-direction: column;
}
.songs_container .gridPlaylistDivtitle,.songs_container .duration{
  color: #fff;
  font-size: 0.55cm;
  font-weight: 500;
}
.songs_container img{
  width: 45px;
  height: 40px;
}
.songs_container:hover{
  background-color: #3f3f42;
  cursor: pointer;
}
.navbar{
  position: relative;
  display: inline-block;
}

.profile_container{
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #000;
  color: #fff;
  padding: 15px;
  border-radius: 30px;
  cursor: pointer;
  z-index: -2;
}
.dropdowns{
  position: relative;
  display: inline-block;
}
.dropdowns-items{
  display: none;
  position: absolute;
}
.dropdowns-items a{
  padding: 10px;
  display: block;
}
.dropdowns:hover .dropdowns-items{
  width: 200px;
  left: 20px;
  top: 15px;
  display: inline-block;
  background-color: #181515;
  color: #fff;
  font-size: 0.4cm;
  font-weight: 400;
}
.dropdowns-items a:hover{
  text-decoration: underline;
}
 .menu{
  display: flex;
  opacity: 0.7;
  flex-direction: column;
}
 .menu a{
  color: #000;
  background-color: rgba(31, 29, 29,0.2);
  font-size: 0.5cm;
  padding: 0.7rem;
  text-decoration: none;
}
 .menu a:hover{
  text-decoration: underline;
  cursor: pointer;
}
 .menu:hover{
  opacity: 1;
}
 .menu i{
  font-size: 0.4cm;
}
.firstcontent {
  margin-left: 40%;
}
.firstcontent img{
  height: 75%;
  width: 40%;
}
.firstcontent .user_name{
  color: rgb(46, 230, 144);
  font-size: 1.5cm;
}

.liked {
  color: #00ff00;
}
.untouched {
  color: rgb(92, 91, 90);
}
.playlist-container{
  margin-top: 7%;
}
.playlistHead{
  display: grid;
  place-items: center;
  padding: 1.75rem;
}
.playlist-container .playlistHead span{
  font-size: 30px;
  font-weight: 500;
  color: black;
}
.playlist-container .flexPlaylistHeads{
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}
.playlist-container .flexPlaylistHeads .active{
  padding-bottom: 6px;
  border-bottom: 3px solid #00ff00;
}
.playlist-container .flexPlaylistHeads a{
  font-size: 22px;
  font-weight: 500;
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.playlistDiv{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.playlistDiv a{
  font-size: 22px;
  font-weight: 500;
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.playlist-container .singlePlaylist{
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}
.card{
  display: grid;
  place-items: center;
  background-color: #000;
  margin-left: 3%;
  margin-top: 2%;
  padding: 1rem;
  font-family: 'Space Grotesk', sans-serif;
  position: relative;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
  /* box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35); */
}
.card .image{
  height: 175px;
  width: 150px;
}
.card .maintitle{
  color: #fff;
  font-size: 0.45cm;
  padding: 8px;
}
.card .subtitle{
  color: #fff;
  font-size: 0.35cm;
  padding: 5px;
}
.card #playicon{
  position: absolute;
  background-color: lime;
  left: 108px;
  top: 130px;
  padding: 1rem;
  border-radius: 30px;
  opacity: 0;
  border: none;
  transition: 800ms ease;
}
.card:hover{
  cursor: pointer;
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}
.card:hover .maintitle, .card:hover .subtitle{
  opacity: 0.75;
}
.card:hover .image{
  opacity: 1;
}
.card:hover #playicon{
  opacity: 1;
  box-shadow: 2px 3px 0px 1px rgb(76, 75, 75);
  transition: 800ms ease;
}
.slidePlaylistDIV{
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  overflow-x: auto;
  background-color: #121212;
  width: 50%;
  height: 100%;
}
.slidePlaylistDIV .heading{
  text-align: center;
  background-color: #121212;
  color: white;
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 14px;
}
.slidePlaylistDIV .close{
  display: flex;
  font-size: 1cm;
  color: #fefefe;
  background-color: #121212;
  cursor: pointer;
  padding: 5px;
}
.slidePlaylistDIV .gridPlaylistDiv div p{
  font-size: 15px;
  font-weight: 200;
  color: #b3b3b3;
}
.slidePlaylistDIV .horizontalLine{
  background-color: #7e7e7e;;
  height: 3px;
  width: auto;
}
.slidePlaylistDIV .gridPlaylistDiv{
 width: auto;
 display: grid;
 place-items: center;
 grid-template-columns: repeat(4, 2fr);
 background-color: #121212;
 color: #ffffff;
 gap: 1rem;
}
.slidePlaylistDIV .gridPlaylistDiv .gridColumns img{
  width: 45px;
  height: 40px;
}
.slidePlaylistDIV .gridPlaylistDiv .gridColumns{
 display: grid;
 grid-template-columns: repeat(2, 2fr);
 gap: 0.5rem;
}
.slidePlaylistDIV .gridPlaylistDiv .gridColumnsCenter{
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 0.5rem;
  place-items: center;
}
.slidePlaylistDIV .gridPlaylistDiv .gridColumns .maintitle{
  line-height: 25px;
}
.slidePlaylistDIV .gridPlaylistDiv div button{
  font-size: 12px;
  background-color: inherit;
  color: white;
  border: 2px solid white;
  border-radius: 40px;
  height: 30px;
  width: 60px;
}
.slidePlaylistDIV .gridPlaylistDiv div button:hover{
  scale: 1.10;
  color: #b3b3b3;
  border: 2px solid #b3b3b3;
}
.slidePlaylistDIV .gridPlaylistDiv:hover{
  cursor: pointer;
  background-color: #2b2b2b;
  color: #b3b3b3;
}

.playlist-container .flexPlaylistHeads a:hover, .playlistDiv a:hover{
  padding-bottom: 6px;
  border-bottom: 3px solid #00ff00;
}
.playlist-container .flexPlaylistHeads .fa-solid{
  background-color: lime;
  color: #121212;
  padding: 1.4rem;
  border-radius: 30px;
  opacity: 0.75;
  border: none;
  font-size: 0.5cm;
  transition: 800ms ease;
}
.playlist-container .flexPlaylistHeads .fa-solid:hover{
  opacity: 1;
  box-shadow: 2px 3px 0px 1px rgb(76, 75, 75);
  transition: 800ms ease;
  cursor: pointer;
}
.playlist-container .flexPlaylistHeads p{
  font-size: 0.5cm;
  font-weight: 400;
}


.master_play {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 10%;
  background: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.master_play .box1{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.master_play .box2{
  display: flex;
}
.master_play .wave{
  width: 30px;
  height: 30px;
  padding-bottom: 5px;
  display: flex;
  align-items: flex-end;
  margin-left: 10px;
}
.master_play .wave .wave1{
  width: 3px;
  height: 7px;
  margin-right: 3px ;
  /* border-radius: 10px 10px 0px 0px ; */
  background: #00ff00;
  animation: wave 500ms linear infinite;
}
.master_play .wave .wave1:nth-child(2){
  height: 13px;
  animation-delay: 400ms;
  background: #f4f009;
}
.master_play .wave .wave1:nth-child(3){
  height: 8px;
  animation-delay: 600ms;
  background: #e90a0a;
}

.master_play .notwave{
  width: 50px;
  height: 50px;
  padding-bottom: 5px;
  display: flex;
  align-items: flex-end;
  margin-left: 10px;
}
.master_play .notwave .wave1{
  width: 6px;
  height: 30px;
  margin-right: 3px ;
  /* border-radius: 10px 10px 0px 0px ; */
  background: #00ff00;
}
.master_play .notwave .wave1:nth-child(2){
  height: 17px;
  animation-delay: 400ms;
  background: #f4f009;
}
.master_play .notwave .wave1:nth-child(3){
  height: 38px;
  animation-delay: 600ms;
  background: #e90a0a;
}

@keyframes wave {
  0%{
      height: 40px;
  }
  50%{
      height: 25px;
  }
  100%{
      height: 35px;
  }
}
.master_play .box1 .flexs{
  display: grid;
  place-items: center;
  padding: .5rem;
}
.master_play .box1 img {
  width: 50px;
  height: 50px;
}
.master_play .box1 .title {
  font-size: 13px;
  color: #fff;
  line-height: 2px;
}
.master_play .subtitle{
 font-size: 11px;
 color: #fff;
}
.master_play .fa-solid{
  font-size: 25px;
}
.master_play .icon{
  padding: 10px;
}
.master_play .icon button{
  cursor: pointer;
  border: none;
  font-size: 0.55cm;
  background-color: black;
  color: #00ff00;
  padding: 10px;
}

.master_play #currentStart,
.master_play #currentEnd{
  color: #fff;
  width: 32px;
  font-size: 11px;
  font-weight: 400;
}

.master_play .bar{
  width: 50vw;
  height: 2px;
  background: rgb(255,255,255);
  margin: 0px 15px 0px 10px;
}
.master_play .bar .bar2{
 position: absolute;
 background: #36e2ec;
 width: 0%;
 height: 100%;
 top: 0;
 transition: 1s linear;
}
.master_play .bar input{
 position: absolute;
 width: 100%;
 top: -6px;
 left: 0;
 cursor: pointer;
 z-index: 99999999;
 transition: 3s linear;
 opacity: 0;
}
.master_play .vol{
position: relative;
width: 100px;
height: 2px;
margin-left: 50px;
background: rgb(105, 105, 170,.1);
}
.master_play .vol .bi{
position: absolute;
color: #fff;
font-size: 25px;
top: -17px;
left: -30px;
}
.master_play .vol input{
  position: absolute;
  width: 100%;
  top: -10px;
  left: 0;
  cursor: pointer;
  /* z-index: 99999999; */
  transition: 3s linear;
  opacity: 0;
}

.master_play .vol .vol_bar{
  position: absolute;
  background: #36e2ec;
  width: 0%;
  height: 100%;
  top: 0;
  transition: 1s linear;
}
.master_play .vol .dot{
  position: absolute;
  width: 5px;
  height: 5px;
  background: #36e2ec;
  border-radius: 50%;
  left: 0%;
  top: -1px;
  transition: 1s linear;
}
.master_play .vol .dot::before{
   content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border:1px solid #36e2ec;
  border-radius: 50%;
  left: -6px;
  top: -6px;
 box-shadow: inset 0px 0px 3px #36e2ec;
}

