*{
  margin: 0;
  padding: 0;
}
.forgotsystem{
  margin-top: -100px;
  display: grid;
  place-items: center;
  min-height: 100vh;
  background: rgb(255, 255, 255);
}
.fa-music{
  color: #00f000;
  font-size: 1.5cm;
}
.marqueeBox-1{
  margin-right: 90%;
  width: 100px;
  height: 80px;
}
.marqueeBox-2{
  margin-left: 90%;
  width: 100px;
  height: 80px;
}
.forgotform{
  width: 25rem;
  background: rgb(255, 255, 255);
  box-shadow: 0px 5px 20px 4px rgba(22, 22, 22, 0.874);
  border-radius: 20px 35px 20px 35px;
  z-index: 1;
  position: relative;
}
.forgotform #h2{
  font-family: 'Space Grotesk', sans-serif;
  color: black;
  text-align: center;
  padding: 20px 40px;
}
.icon{
 margin-left: 14%;
 color: rgb(102, 51, 153);
}
.fa-circle-xmark{
  position: absolute;
  left: 89%;
  top: 5%;
  font-size: 0.55cm;
}
.fa-circle-xmark:hover, button:hover, .fa-arrow-rotate-right:hover{
  cursor: pointer;
}
input{
  width: 60%;
  box-shadow: 0px 4px 4px 3px  rgba(199, 182, 182, 0.874);
  border-radius: 20px;
  padding: 15px;
  border: none;
}
.name, .email, .password, .confirmpassword{
  margin-left: 9%;
  margin-bottom: 10%;
}
input:focus{
  outline: none;
}
.forgotform .forgoticon1{
  bottom: 38%;
}
.forgotform .forgoticon2{
  bottom: 20%;
}
.forgotform .small{
  color: #c80d0d;
  font-size: 0.34cm;
  font-weight: bolder;
  display: block;
  margin-left: 25%;
  margin-top: -5%;
  padding-bottom: 1rem;
}
/* .forgotform .smalltext{
  font-size: 0.34cm;
  font-weight: bolder;
  display: block;
} */
.forgotform span{
  display: block;
  padding-bottom: 3%;
  font-size: 15px;
  margin-left: 7%;
}
.fa-arrow-rotate-right{
  margin-left: 14%;
  font-size: 0.33cm ;
  font-weight: bolder;
  background-color: khaki;
  border-radius: 30px;
  padding: 1.25rem;
  text-transform: capitalize;
  box-shadow: 0px 4px 4px 3px  rgba(199, 182, 182, 0.874);
}
.forgotform button{
  border: none;
  font-size: large;
  width: 30%;
  margin-left: 13%;
  margin-bottom: 5%;
  padding: 1rem;
  font-weight: bolder;
  background-color: khaki;
  border-radius: 30px;
  box-shadow: 0px 4px 4px 3px  rgba(199, 182, 182, 0.874);
}




.logo{
  height: 50px;
  border-radius: 50%;
}
.header{
  position: fixed;
  z-index: 2;
  background: #5199E4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
}
.nav-links nav{
  display: flex;
  justify-content: space-around;
}
.nav-links nav div a{
  letter-spacing: 1px;
  margin: 0 1rem;
  text-decoration: none;
  color: white;
  padding: 1rem;
}
.nav-links nav a:hover{
  /* background: linear-gradient(50deg, rgb(13, 231, 13), rgb(1, 247, 255)); */
  background-color: #fff;
  color: #000;
  border-radius: 50px;
  padding: 0.5rem;
}
.artists{
  background-color: #077dfb;
}
.artists .artistsname{
  font-size: large;
  color: aliceblue;
  border: 2px solid blanchedalmond;
  width: fit-content;
  padding: 1rem;
  border-radius: 50px ;
}

.bottom-contents{
  background-color: black;
  color: white;
  display: grid;
  grid-template-columns:repeat(auto-fit,minmax(50px,1fr));
  gap: 2rem;
  padding-top: 1rem;
}
.bottom-contents span{
  font-size: 0.50cm;
}
.bottom-contents ul a{
  display: flex;
  flex-direction: column;

  font-size: 0.45cm;
  padding: 0.60rem;
  text-decoration: none;
}
.bottom-contents ul a:hover{
  cursor: pointer;
  text-decoration: underline;
}
.bottom-contents .grid{
  display: grid;
  grid-template-rows:repeat(auto-fit,minmax(50px,1fr));
}
.bottom-contents nav{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.bottom-contents nav a{
  text-decoration: none;
  color:white;
  margin-left: 12px;
}
.bottom-contents nav i{
  border-radius: 50%;
  padding: 15px;
  font-size: 15px;
}
.footer{
  background: linear-gradient(15deg, black, darkslategray);
  color: #ddd;
  box-shadow: 0 5px 10px black;
  bottom: 0;
  max-width: 100%;
  padding: 10px;
  font-size: 0.50cm;
}
.footer a{
  text-decoration: none;
  color: azure;
}
.popup p{
  position: absolute;
  display: block;
  color: #fff;
  cursor: pointer;
}
.popup .popuptext {
  visibility: hidden;
  border-radius: 20px;
  position: absolute;
}
.popup .show {
  top: 50px;
  left: 50px  ;
  visibility: visible;
}
