<div class="accounts_right">
  <div class="paymentCardCancel" *ngIf="cardCancelConfirmation">
    <div class="cancelCardContent">
      <p>Are you sure want to un-link your <b>{{ userCardType }}</b> card from Dulcet?</p>
      <p>If you're sure click <b>OK</b> otherwise click <b>Cancel</b> to revert changes.</p>
      <div class="buttons">
        <div><button (click)="removeUserPaymentCard()">OK</button></div>
        <div><button (click)="closeCardCancelConfirmation()">Cancel</button></div>
      </div>
    </div>
  </div>
  <div class="noPaymentCard" *ngIf="noPaymentCardDiv">
    <p>
      You haven't linked any cards here if you buy our any one of premium you'll
      get here
    </p>
  </div>
  <div class="paymentCardBackground">
    <div class="paymentCard open" *ngIf="paymentCardDiv">
      <div>{{cardTypeTitle}}</div>
      <div class="simImage">
        <img src="/assets/home-images/cardSim.jpg" alt="sim-pin" />
        <i class="fa-solid fa-wifi fa-rotate-90"></i>
      </div>
      <p class="cardDetails">{{ userCardNumber }}</p>
      <div class="validTo">
        <div>
          <span>Valid</span>
          <span>thru</span>
        </div>
        <div>{{ expiryDate }}</div>
      </div>
      <div class="cardType">
        <p>{{ cardHolderName }}</p>
        <img src="{{ cardImage }}" alt="sim-pin" />
      </div>
    </div>
    <div class="cancelCard" *ngIf="paymentCardDiv">
      <button (click)="openCardCancelConfirmation()">Cancel</button>
    </div>
  </div>
</div>
