.accounts_right{
  background-color: #fff;
  color: #7f7f7f;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.accounts_right .profileContainer{
  padding: 1rem;
}
.accounts_right .profileContainer .profileBox{
  /* background-color: rgb(54, 49, 49); */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.accounts_right .profileContainer .profileBox .profileImage img{
  width: 150px;
  height: 150px;
  cursor: pointer;
}
.accounts_right .profileContainer .profileBox .profileName{
  font-size: 40px;
  font-weight: bolder;
  color: rgb(142, 140, 137);
  cursor: pointer;
}
.accounts_right .profileContainer .profileBox .profileName:hover{
  color: #000;
}
.accounts_right .profileEditor{
  background-color: rgba(142, 140, 137,0.2);
  border-radius: 20px;
}
.accounts_right .profileHeads{
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}
.accounts_right .profileEditor .profileForm .small{
  color: #c80d0d;
  font-size: 0.34cm;
  font-weight: bolder;
}
.accounts_right .profileEditor .profileForm, .accounts_right .profileEditor .profileButton{
  display: grid;
  place-items: center;
  padding: 1rem;
}
.accounts_right .profileEditor .profileButton button{
  background-color: #00ff00;
  color: black;
  border-radius: 30px;
  border: none;
  width: 80px;
  height: 40px;
}
.accounts_right .profileEditor .profileButton button:hover{
  box-shadow: 0px 2px 3px 5px rgb(76, 75, 75);
}
.accounts_right .profileHeads .name, .accounts_right .profileHeads .fa-solid{
  font-size: 25px;
  color: black;
  font-weight: 600;
  cursor: pointer;
}
