<app-nav-bar></app-nav-bar>
<div class="background">
  <div class="accounts_container">
      <div class="accounts_left">
        <a routerLinkActive="active" routerLink="accounts"><i class="fa-solid fa-regular fa-house"></i>Account Overview</a>
        <a routerLinkActive="active" routerLink="editprofile"><i class="fa-solid fa-user-pen"></i>Edit Profile</a>
        <a routerLinkActive="active" routerLink="subscribedplan"><i class="fa-solid fa-lock"></i>Premium Plan</a>
        <a routerLinkActive="active" routerLink="myplaylist"><i class="fa-sharp fa-solid fa-circle-play"></i>My Playlist</a>
        <a routerLinkActive="active" routerLink="paymentcard"><i class="fa-solid fa-credit-card"></i>Payment Card</a>
      </div>
      <div class="accounts_right">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
<app-footer></app-footer>
