<div class="accounts_right">
  <div class="grid_premium_plan_card">
    <!-- <div class="plan_details">
      <div><p>Your plan</p></div>
      <div><a routerLink="/premium">Review plan</a></div>
    </div> -->
    <div class="premium_plan_card">
      <div class="grid_column_centerBG">
        <div>
          <p class="bold">Premium</p>
          <p class="normal">Plan : {{planTitle}}</p>
        </div>
        <div>
          <p class="bolder">Free</p>
          <p class="normal">For 1 month</p>
        </div>
      </div>
      <div class="grid_column_center">
        <p class="normal">Today</p>
        <p class="green">{{today}}</p>
      </div>
      <div class="grid_column_center">
        <p class="normal">Plan billed date</p>
        <p class="green">{{userSubscribedDate}}</p>
      </div>
      <div class="grid_column_center">
        <p class="normal">Plan expiry date</p>
        <p class="red">{{expiryDate}}</p>
      </div>
      <ul>
        <li>{{planOffer}}</li>
        <li>You won't be charged until {{userSubscribedDate}}</li>
        <li>We will remind you 7 days before your plan get expired</li>
      </ul>
    </div>
   </div>
</div>

