<app-nav-bar></app-nav-bar>

<div class="system">
  <div class="marqueeBox-1">
    <marquee behavior="alternate" direction="up" scrolldelay="20" height="150px"><i class="fa-solid fa-music"></i></marquee>
    <marquee behavior="alternate" direction="down" scrolldelay="20" height="250px"><i class="fa-solid fa-music"></i></marquee>
    <marquee behavior="alternate" direction="left" scrollamount="30" width="1200px"><i class="fa-solid fa-music"></i></marquee>
    <marquee behavior="alternate" direction="right" scrollamount="30" width="1200px"><i class="fa-solid fa-music"></i></marquee>
  </div>
  <div class="marqueeBox-2">
    <marquee behavior="alternate" direction="up" scrolldelay="20" height="150px"><i class="fa-solid fa-music"></i></marquee>
    <marquee behavior="alternate" direction="down" scrolldelay="20" height="250px"><i class="fa-solid fa-music"></i></marquee>
  </div>

  <form class="form" [formGroup]="loginForm" (ngSubmit)="submitLoginForm()">
    <i class="fa-solid fa-circle-xmark" (click)="closeLoginForm()"></i>
    <small class="smallerror">{{errormessage}}</small>
    <h2 id="h2">Dulcet Login</h2>

    <div class="form-email">
      <i class="fa-solid fa-envelope icon"></i>
      <input type="text" placeholder="Enter your email" formControlName="email" class="email">
      <small class="small" *ngIf="loginForm.controls['email'].errors?.['required'] && loginForm.controls['email'].dirty">* Your email is required</small>
      <small class="small" *ngIf="loginForm.controls['email'].errors?.['pattern']">* Please provide proper Email</small>
    </div>

    <div class="form-password">
      <i class="fa-solid fa-key icon"></i>
      <input type="password" placeholder="Enter your password" class="password" formControlName="password" #passwordfield>
      <i (click)="passwordfield.type=passwordfield.type=='password'?'text':'password'" class="fa fa-eye-slash" ngClass="(passwordfield.type=='password')? 'fa-eye-slash':'fa-eye'"></i>
      <small class="small" *ngIf="loginForm.controls['password'].errors?.['required'] && loginForm.controls['password'].dirty">* Your password is required</small>
      <small class="small" *ngIf="loginForm.controls['password'].errors?.['pattern']">* Your password must be strong</small>
    </div>

    <div class="flex">
      <div><i class="fa-solid fa-arrow-rotate-right" (click)="loginReset()">&nbsp;&nbsp;Reset</i></div>
      <div><button [disabled]="!loginForm.valid">Submit</button></div>
    </div>

    <a routerLink="/forgotpassword" class="forgot">Forgot Password?</a>
    <span>Not&nbsp;an&nbsp;User&nbsp;?&nbsp;<a routerLink="/signup" class="signup">Register</a></span>
  </form>
</div>




