<div class="footer">
  <div class="bottom_contents">
    <div class="company">
      <p>Company</p>
      <a routerLink="contacts" target="_blank">About</a>
      <a routerLink="terms" target="_blank">Terms&nbsp;&&nbsp;Conditions</a>
    </div>
    <div class="communities">
        <p>Communities</p>
        <a target="_blank">For&nbsp;Artists</a>
        <a target="_blank">Developers</a>
        <!-- <a (click)="advertise()">Advertising</a> -->
    </div>
    <div class="social_media_links">
        <a href="https://www.facebook.com/profile.php?id=100089790477429" target="_blank"><i class="fab fa-facebook-f"></i>Facebook</a>
        <a href="https://www.instagram.com/__delcet__23/"  target="_blank"><i class="fab fa-instagram"></i>Instagram</a>
        <a href="https://www.linkedin.com/in/delcet-musicapp-766898265/" target="_blank"><i class="fab fa-linkedin-in"></i>Linked-in</a>
        <a href="mailto:delcetonline2023@gmail.com" target="_blank"><i class="fa-solid fa-envelope"></i>E-mail</a>
        <a href="https://twitter.com/DelcetMusicHB"  target="_blank"><i class="fab fa-twitter"></i>Twitter</a>
    </div>
    <div class="brandlogo">
      <img src="/assets/brand-images/whiteBGBrandLogo.png">
    </div>
  </div>

  <hr>
    <div class="copyrights">
      <div>
        <p>Developed and Maintaining by&nbsp;&nbsp;<a href="" target="_blank"><b>Mr.&nbsp;HARISH&nbsp;B</b></a></p>
      </div>
      <div>
        <h1>Copyrights &copy; 2022</h1>
      </div>
    </div>
    <br><br>
  </div>
