<header>
  <div class="brandlogoDiv">
    <a routerLink=""><img src="/assets/brand-images/whiteBGBrandLogo.png" alt="" class="brandlogo" title="Dulcet Home"></a>
  </div>
  <div class="toggleOffDiv" *ngIf="toggleOffBoolean">
    <a routerLink="/search">Search</a>
    <a routerLink="/playlists">Playlist</a>
    <a routerLink="/premium">Premium</a>
    <!-- <a routerLink="/register" *ngIf="!loggedinNavBar">Register</a> -->
    <a routerLink="/signin" *ngIf="login" class="loginButton">Login</a>
    <a *ngIf="loggedinNavBar" routerLink="/profile"><i class="fa-solid fa-user"></i>&nbsp;&nbsp;Profile</a>
    <a (click)="logout()" *ngIf="loggedinNavBar" class="loginButton">Logout</a>
  </div>
  <div class="toggleOnDiv" (click)="openToggleOffDiv()" *ngIf="toggleOnBoolean">
    <i class="fa-solid fa-bars" *ngIf="barIcon"></i>
    <i class="fa-solid fa-close" *ngIf="closeIcon"></i>
  </div>
</header>
<div class="toggleClickedDiv" *ngIf="toggleClickedOffBoolean">
  <a routerLink="/search">Search</a>
  <a routerLink="/playlists">Playlist</a>
  <a routerLink="/premium">Premium</a>
  <!-- <a routerLink="/register" *ngIf="!loggedinNavBar">Register</a> -->
  <a routerLink="/signin" *ngIf="login" class="loginButton">Login</a>
  <a *ngIf="loggedinNavBar" routerLink="/profile"><i class="fa-solid fa-user"></i>&nbsp;&nbsp;Profile</a>
  <a (click)="logout()" *ngIf="loggedinNavBar" class="loginButton">Logout</a>
</div>
